@import url(https://fonts.googleapis.com/css2?family=Raleway);
*{
    transition: all 1s ease-in
}
body {
    font-family: 'Raleway', serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quote-box {
    border-radius: 3px;
    position: relative;
    width: 450px;
    padding: 40px 50px;
    background-color: #fff;
}

.quote-box h1 {
    text-align: center;
    height: auto;
    clear: both;
    font-weight: 500;
    font-size: 1.75em;
}

.quote-box h4 {
    font-size: 1em;
    text-align: right;
}

.buttons-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button {
    font-family: 'Raleway', serif;
    height: 38px;
    border: none;
    border-radius: 3px;
    color: #fff;
    outline: none;
    font-size: 0.85em;
    padding: 8px 18px 6px 18px;
    opacity: 1;
    cursor: pointer;
    box-sizing: border-box;
}

@media screen and (max-width: 550px) {
    .quote-box {
        padding: 10px;
        width: 350px;
    }
    .quote-box h1 {
        font-size: 1em;
    }
    .quote-box h4 {
        font-size: 0.75em;
    }
    .button {
        height: 30px;
        font-size: 0.65em;
        padding:3px 9px 3px 9px
    }
}
